<a href='/two' class='float-right'>Exercice suivant</a>
<h1>Exercice#one : Lister les sociétés</h1>
<p>Find me in app/views/exercice/one.html.erb</p>
<div class='alert alert-warning'>Disclaimer: À chaque étape, veuillez commit le résultat.</div>
<h2>Exo 1.1 : Afficher du texte </h2>
<p>Afficher une suite de chiffres de 1 à 100</p>
<p>Réponse:</p>
<%# Écrire réponse Exo 1.1 ici %>

<h2>Exo 1.2 : lister les sociétés </h2>
<p>Ici, lister toutes les sociétés inclues dans la base de données:</p>

<p>Exemple attendu:</p>
<ul>
  <li>Société 1</li>
  <li>...</li>
  <li>Société N</li>
</ul>
<p>Autre exemple en utilisant bootstrap:</p>
<ul class="list-group">
  <li class="list-group-item">Société 1</li>
  <li class="list-group-item">...</li>
  <li class="list-group-item">Société N</li>
</ul>
<br/>
<p>Réponse:</p>
<%# Écrire réponse Exo 1.2 ici %>

<%# piste https://guides.rubyonrails.org/layouts_and_rendering.html#rendering-by-default-convention-over-configuration-in-action %>


<h2>Exo 1.3 : appliquer un style différent par société </h2>
<p>Reprendre le résultat de l'exercice 1.2, et changer la couleur du texte en fonction du nom de la société. (Pour info mais pas obligatoire de s'en servir, le framework CSS bootstrap est disponible, et le langage SASS/SCSS sont disponibles.</p>
<p>Si la première lettre du nom de la société commence par un s (pas de sensibilité à la casse), afficher le nom de la société en jaune</p>
<p>Sinon si le le nombre de lettre dans le nom de la société est pair, afficher le nom de la société en rouge</p>
<p>Sinon si le le nombre de lettre dans le nom de la société est impair, afficher le nom de la société en bleu</p>

<p>Réponse:</p>

<%# Écrire réponse Exo 1.3 ici %>


<a href='/two' class='float-right'>Exercice suivant</a>