<a href='/two'>Exercice précédent</a>
<h1>Exercice#three : Exercice un peu plus avancés</h1>
<p>Find me in app/views/exercice/three.html.erb</p>

<div class='alert alert-warning'>Disclaimer: À chaque étape, veuillez commit le résultat.</div>

<h2>Listes de travail</h2>
<p>Ci-dessous un composant VueJS pret à être modifié, représentant deux listes. La liste A représente toutes les sociétés de la base de données. </p>
<two-list-component :items=<%= @items.to_json %>></two-list-component>

<br/>
<h3>Exo 3.1: Interaction VueJS</h3>
<p>Ajouter un bouton dans le composant Vue et écrire l'interaction suivante: Quand l'utilisateur clique sur le bouton, le dernier élément de la liste A disparait disparait de celle-ci, et est rajouté dans la liste B.
<h3>Exo 3.2 : Ah !</h3>
<p>Rajouter une case à cocher qui, si elle est activée, barre les sociétés dont la lettre commence par a (pas de sensibilité à la casse)</p>

<h3>Exo 3.3: Une troisième liste</h3>
<p>Afficher une troisième liste ne listant que les sociétés dont le prénom du fondateur commence par un S.
<br/>
<list-component title='Liste C' :items=<%= @companies_with_s_founder.to_json %>></list-component>
<br/>
<a href='/two'>Exercice précédent</a>
