<a href='/one'>Exercice précédent</a>
<a href='/three' class='float-right'>Exercice suivant</a>
<h1>Exercice#two</h1>
<p>Find me in app/views/exercice/two.html.erb</p>

<div class='alert alert-warning'>Disclaimer: À chaque étape, veuillez commit le résultat.</div>

<h2>Listes de travail</h2>
<p>Ci-dessous un composant VueJS pret à être modifié, représentant la liste des sociétés./p>
<list-component title='Liste A' :items=<%= @items.to_json %>></list-component>

<br/>
<h3>Exo 2.1</h3>
<p>Trier les sociétés par ordre alphabétique</p>
<h3>Exo 2.2</h3>
Pareil que l'exercice 1.3:

<p>Si la première lettre du nom de la société commence par un s (pas de sensibilité à la casse), afficher le nom de la société en jaune</p>
<p>Sinon si le le nombre de lettre dans le nom de la société est pair, afficher le nom de la société en rouge</p>
<p>Sinon si le le nombre de lettre dans le nom de la société est impair, afficher le nom de la société en bleu</p>
<p>Possibilité de gagner du temps: https://getbootstrap.com/docs/4.4/components/list-group/#contextual-classes</p>


<a href='/one'>Exercice précédent</a>
<a href='/three' class='float-right'>Exercice suivant</a>